[logstash-{{ logstash_version }}]
name=Elastic repository for {{ logstash_version }} packages
baseurl=https://mirrors.tuna.tsinghua.edu.cn/elasticstack/yum/elastic-{{ logstash_version }}
gpgcheck=0
enabled=1
