node.name: {{inventory_hostname}}
http.host: {{ansible_ssh_host}}
path.data: /var/lib/logstash
pipeline.ordered: auto
path.logs: /var/log/logstash
xpack.monitoring.enabled: true
xpack.monitoring.elasticsearch.username: {{ es_user }}
xpack.monitoring.elasticsearch.password: {{ es_pass }}
xpack.monitoring.elasticsearch.hosts:
{{ logstash_elasticsearch_hosts | to_nice_yaml(indent=2) }}

